.outer {
    margin: 50px;
  }
  
  .button {
    border: 1px solid black;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    display: block;
  
    background: linear-gradient(to left, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all .5s ease-out;
  }
  
  .button:hover {
    background-position: right bottom;
  }
  
  .text {
    text-align: center;
    font-size: 16px;
    line-height: 30px; 
    color: black;
    transition: all .6s ease-out;
    display: block;
  }
  
  .text:hover {
    color: white;  
  }