/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: black;
    padding: 0;
}

/* Header Styles */
header {
    background-color: black;
    color: white;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

.login-btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

main {
    padding-top: 20vh;
    background: url("/triXchange/images/stocks.webp");
    background-repeat: no-repeat;
    background-size: 150vh 100vh;
    background-position: center;
    padding-bottom: 30vh;
}
/* Hero Section Styles */
.hero {
    align-self: center;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    color: purple;
    font-size: 36px;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 5vh;
}

.hero p {
    font-size: 18px;
    color: lightblue;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 25px;
}

.get-started-btn {
    background-color: purple;
    color: white;
    position: relative;
    right: 64vh;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Investment Options Section Styles */
.investment-options {
    background-color: black;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.investment-options h2 {
    font-size: 24px;
    margin-bottom: 5vh;
    margin-top: 1px;
}

.investment-cards {
    padding-left: 2vh;
    display: flex;
    justify-content: center;
}

.card {
    display: flexbox;
    margin: 0 10px;
    text-align: center;
}

#c2 {
    margin: 0 20px;
    text-align: center;
}
#c3 {
    margin: 0 20px;
    text-align: center;
}
#c4 {
    margin: 0 20px;
    text-align: center;
}

.c01 {
    width: fit-content;
    margin: 0 10px;
}

.c02 {
    width: 15vh;
    margin: 0 10px;
}

.c03 {
    width: 15vh;
    margin: 0 10px;
}

.c04 {
    width: 15vh;
    margin: 0 10px;
}

.card img {
    display: flexbox;
    width: 50px;
    height: 50px;
    margin-bottom: 0px;
}

/* Footer Styles */
footer {
    background-color: #d9d9d9;
    padding: 5px;
    text-align: center;
}
